.main {
  width: 800px;
  margin: 0 auto;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.timerButton {
  margin-right: 10px;
}

.textArea {
  width: 350px;

  min-height: 300px;
}

.logs {
  display: flex;
  justify-content: space-between;
}

p {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
